<div>
  <center>
    <h1>PhotoSite user list</h1>
    <p>There are 6 Users</p>
    <table>
      <tr>
        <th style="border-color: #2E2F30" bgcolor="aqua"><h2>User ID</h2></th>
        <th style="border: #2E2F30" bgcolor="aqua"><h2>First Name</h2></th>
        <th style="border: #2E2F30" bgcolor="aqua"><h2>Last Name</h2></th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <th style="border: #2E2F30" bgcolor="#faebd7"><%= user.id %></th>
          <th style="border: #2E2F30" bgcolor="#faebd7"><%= link_to user.first_name, {:controller => 'photo', :action => 'index', :id => user.id} %></th>
          <th style="border: #2E2F30" bgcolor="#faebd7"><%= user.last_name %></th>
        </tr>
      <% end %>
    </table>
  </center>
</div>